# 30年国债指数ETF 511130.SH

In [7]:
from xtquant import xtdata
import backtest as bt
from backtest import Context 
import pandas as pd
import datetime

In [124]:
code_list = ['511130.SH']

period = 'tick'

fields=['time', 'lastPrice', 'open', 'close', 'high', 'low', 'volume', 'amount', 'preClose']

dividend_type = 'none'

start_date_str = '20250115'

end_date_str = '20250117'

count = -1

xtdata.download_history_data2(code_list, period, start_date_str, end_date_str)
    
ret = xtdata.get_market_data_ex(field_list=fields,
                                    stock_list=code_list,
                                    period=period,
                                    start_time=start_date_str,
                                    end_time=end_date_str,
                                    count=count,
                                    dividend_type=dividend_type
            )

In [126]:
tBond = ret['511130.SH']

In [130]:
tBond

,time,lastPrice,open,close,high,low,volume,amount,preClose
20250115091502,1736903702000,0.000,0.000,NaN,0.000,0.000,0,0.000000e+00,NaN
20250115091505,1736903705000,0.000,0.000,NaN,0.000,0.000,0,0.000000e+00,NaN
20250115091508,1736903708000,0.000,0.000,NaN,0.000,0.000,0,0.000000e+00,NaN
20250115091511,1736903711000,0.000,0.000,NaN,0.000,0.000,0,0.000000e+00,NaN
20250115091514,1736903714000,0.000,0.000,NaN,0.000,0.000,0,0.000000e+00,NaN
...,...,...,...,...,...,...,...,...,...
20250115112947,1736911787000,113.040,113.001,NaN,113.138,112.802,137054,1.548371e+09,NaN
20250115112950,1736911790000,113.041,113.001,NaN,113.138,112.802,137055,1.548382e+09,NaN
20250115112953,1736911793000,113.041,113.001,NaN,113.138,112.802,137055,1.548382e+09,NaN
20250115112956,1736911796000,113.044,113.001,NaN,113.138,112.802,137065,1.548495e+09,NaN
20250115112959,1736911799000,113.040,113.001,NaN,113.138,112.802,137066,1.548507e+09,NaN

In [128]:
tBond[tBond['lastPrice'] > 0]

,time,lastPrice,open,close,high,low,volume,amount,preClose
20250115092502,1736904302000,113.001,113.001,NaN,113.001,113.001,437,4.938144e+06,NaN
20250115093002,1736904602000,113.001,113.001,NaN,113.099,113.001,533,6.023071e+06,NaN
20250115093005,1736904605000,113.002,113.001,NaN,113.099,113.001,743,8.396669e+06,NaN
20250115093008,1736904608000,113.064,113.001,NaN,113.099,113.001,850,9.606312e+06,NaN
20250115093011,1736904611000,113.106,113.001,NaN,113.112,113.001,917,1.036398e+07,NaN
...,...,...,...,...,...,...,...,...,...
20250115112947,1736911787000,113.040,113.001,NaN,113.138,112.802,137054,1.548371e+09,NaN
20250115112950,1736911790000,113.041,113.001,NaN,113.138,112.802,137055,1.548382e+09,NaN
20250115112953,1736911793000,113.041,113.001,NaN,113.138,112.802,137055,1.548382e+09,NaN
20250115112956,1736911796000,113.044,113.001,NaN,113.138,112.802,137065,1.548495e+09,NaN
20250115112959,1736911799000,113.040,113.001,NaN,113.138,112.802,137066,1.548507e+09,NaN

In [110]:
tBond[tBond['lastPrice'] > 0]['lastPrice'].iloc[-1000].mean()

112.97500000000001